#indexdiv {
	background-color: #ffc1a8;
	text-align: center;
	width: 80%;
	margin-top: 70px;
}

#indexdiv h2 {
	color:  #ff6d33;
	text-align: center;
	padding: 20px;
	margin: 40px;
}

#indexdiv h5 {
	color: white;
	text-align: center;
	/*padding: 20px;*/
	margin: 40px;	
}

#indexdiv a {
  font-size: 18px;
  background-color: #ff6d33;
  color: white;
  margin-bottom: 20px;
}

#indexdiv a:hover {
  color: black;
}