illustration {
	color: white;
	font-size: 10px;
}

form h1 {
	color: #ff6d33;
}

.form-signin button {
  font-size: 16px;
  background-color: #ff6d33;
  color: white;
  margin-bottom: 20px;
  border: none;
}

.form-signin button:hover {
  color: black;
  background-color: #ff6d33;
}

#checkboxlogin:checked {
	background-color: #ff6d33;
}

#logindiv {
	background-color: #ffc1a8;
	text-align: center;
	width: 80%;
	margin-top: 70px;
}

#logindiv h2 {
	color:  #ff6d33;
	text-align: center;
	padding: 20px;
	margin: 40px;
}

#logindiv a {
  font-size: 18px;
  background-color: #ff6d33;
  color: white;
  margin-bottom: 20px;
}

#logindiv a:hover {
  color: black;
}

#bgnddivlogin {
	width: 100%;
    height: 100%;
    background-image: url(720.jpg);
    position: absolute;
    background-size: cover;
    text-align: right;
}