{% extends "layout.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}">
{% endblock %}

{% block title %}
    Book Page
{% endblock %}


{% block body %}
	<div>
		<ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="{{ url_for('search') }}">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Book</li>
		</ol>
	</div>
	<h6>Logged in as {{ user_email }} ({{ user_id }})</h6>	
	<a id="logout" class="btn btns actived" href="{{ url_for('logout')}}" >Logout</a>
	{% if message %}
		<h3>{{message}}</h3>
	{% endif %}
	<div id="bookdiv" class="container border rounded col-6">
		<h4>{{book_clicked[0][2]}}</h4>
		<ul>
	        <li>ISBN: {{book_clicked[0][1]}}</li>
	        <li>Title: {{book_clicked[0][2]}}</li>
	        <li>Author: {{book_clicked[0][3]}}</li>
	        <li>Year: {{book_clicked[0][4]}}</li>
	        <li>-----------------</li>
	        <li>Goodreads Average Rating: {{res['books'][0]['average_rating']}}</li>
	        <li>Goodreads Work Ratings Count: {{res['books'][0]['work_ratings_count']}}</li>
		</ul>
	</div>
    <div id="bookdivreviews" class="container border rounded col-6">
		<h4>Reviews</h4>
		<ul>
			{% if reviews %}
				{% for rev in reviews %}
	            	<li>Rating: {{rev[1]}} | Opinion: {{rev[2]}} | User: {{rev[4]}}</li>
	            	<li>--------------------</li>
            	{% endfor %}
            {% else %}
            	<h4>This book has no rating yet.</h4>
            {% endif %}
		</ul>
    </div>
    <div id="bookdivreviewssub" class="container border rounded col-6">
		<h4>Submit a review below!</h4>
		<form class="review" action="{{ url_for('book', isbn=book_clicked[0][1])}}" method="post">
			<div class="form-group col-3">
				<label for="exampleFormControlSelect1">Rating select</label>
				<select class="form-control" id="exampleFormControlSelect1" name="rating">
					<option value="1">1 Star</option>
					<option value="2">2 Stars</option>
					<option value="3" selected="selected">3 Stars</option>
					<option value="4">4 Stars</option>
					<option value="5">5 Stars</option>
				</select>
			</div>
			<div class="form-group col-6">
				<label for="exampleFormControlTextarea1">Your Review</label>
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		</form>
    </div>
{% endblock %}
