{% extends "layout.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block title %}
    Book Review Login
{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a></li>
    <li class="breadcrumb-item active" aria-current="page">Login</li>
</ol>
<div id="bgnddivlogin" class="container-fluid">
    <illustration>Designed by awesomecontent / Freepik</illustration>
    <div id="logindiv" class="container border rounded">  
        <h2>User login</h2>
        <!-- <a href="{{ url_for('register') }}" class="badge">Register</a> -->
    </div>
</div>
{% endblock %}