{% extends "layout.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block title %}
    Book Review Login
{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a></li>
    <li class="breadcrumb-item active" aria-current="page">Login</li>
</ol>
<div id="bgnddivlogin" class="container-fluid">
    <illustration>Designed by awesomecontent / Freepik</illustration>
    <div id="logindiv" class="container border rounded col-3">  
		<form class="form-signin">
			<h2>Please sign in</h2>
			<label for="inputEmail" class="sr-only">Email address</label>
			<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<div class="checkbox mb-3">
				<label><input type="checkbox" value="remember-me" id="checkboxlogin"> Remember me</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<p class="mt-5 mb-3 text-muted">&copy; 2020</p>
		</form>
        <!-- <a href="{{ url_for('register') }}" class="badge">Register</a> -->
    </div>
</div>
{% endblock %}