{% extends "layout.html" %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

{% block title %}
    Book Review Register
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Index</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Register</li>
	</ol>
    <div id="registerdiv" class="container border rounded">  
        <h2>User register</h2>
		<form id="registerform" action="{{ url_for('registersuccess') }}" method="post">
			<div class="form-group col-6">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your email">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-group col-6">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="your password">
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1">
				<label class="form-check-label" for="exampleCheck1">Check me out</label>
			</div>
			<button type="submit" class="btn">Submit</button>
		</form>
    </div>
{% endblock %}